<mat-card style="max-width: 500px;">
  <mat-card-content>
    <!-- Start pattern -->
    <div *tdLoading="'isLoading'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
      <div layout="column" layout-align="center center" class="tc-grey-500 mat-typography pad-lg">
        <img [src]="'assets/images/logo.svg'" style="max-width: 200px;">
        <!-- <mat-icon matListAvatar class="text-super push-bottom">perm_identity</mat-icon> -->
        <h2 style="text-transform: uppercase; padding-top: 14px;">{{'auth.password_confirm.title' | translate}}</h2>

        <td-message *ngIf="confirmTokenError" label="Error!" sublabel="Token invalido!" color="warn" icon="error"></td-message>

        <form class="example-form"
              [formGroup]="confirmPasswordForm"
              (ngSubmit)="onSubmit()"
              *ngIf="!confirmTokenError"
              novalidate
              style="text-align: center; width: 100%;">
          <p style="text-align: justify;">
            {{'auth.password_confirm.message' | translate}}
          </p>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>{{'auth.form.password.label' | translate}}</mat-label>
            <input matInput
                   name="password"
                   formControlName="password"
                   id="password"
                   required
                   type="password"
                   [placeholder]="translate.instant('auth.form.password.placeholder')">
            <mat-icon matSuffix>lock_outline</mat-icon>
            <mat-error *ngIf="confirmPasswordForm.get('password').invalid">{{getErrorMessage(confirmPasswordForm.get('password'))}}</mat-error>
            <!-- <mat-hint>Hint</mat-hint>-->
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>{{'auth.form.password_confirmation.label' | translate}}</mat-label>
            <input matInput
                   name="password_confirmation"
                   formControlName="password_confirmation"
                   id="password_confirmation"
                   required
                   type="password"
                   [placeholder]="translate.instant('auth.form.password_confirmation.placeholder')">
            <mat-icon matSuffix>lock_outline</mat-icon>
            <mat-error *ngIf="confirmPasswordForm.get('password_confirmation').invalid">{{getErrorMessage(confirmPasswordForm.get('password_confirmation'))}}</mat-error>
            <!-- <mat-hint>Hint</mat-hint>-->
          </mat-form-field>
          <input type="hidden" formControlName="token" id="token" name="token">
          <button type="submit"
                  color="accent"
                  class="text-upper"
                  [disabled]="!confirmPasswordForm.valid"
                  mat-button>{{'auth.password_reset.button.send' | translate}}</button>
        </form>
      </div>
      <!-- end pattern -->
    </div>
  </mat-card-content>
</mat-card>
