.row-height {
  height: 100vh;
  padding: 0px;
  margin: 0px;
  background: url('assets/images/user-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
