<span *ngIf="authService.userLogged">
  <bl-badge [blDot]="true" [matMenuTriggerFor]="userMenu" style="cursor: pointer;">
    <bl-avatar blIcon="perm_identity" [blShape]="'circle'" [blSrc]="'assets/images/avatar.png'"></bl-avatar>
  </bl-badge>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
</span>
<span *ngIf="false">
  <a mat-icon-button matTooltip="{{'app.auth.login' | translate}}" routerLink="/auth">
    <mat-icon>perm_identity</mat-icon>
  </a>
</span>
