@import "../../variables";

$message-prefix-cls: 'bl-message';

.bl-message {
  position: fixed;
  z-index: 10001;
  width: 100%;
  top: 16px;
  left: 0;
  pointer-events: none;

  &-notice {
    padding: 8px;
    text-align: center;
    &:first-child {
      margin-top: -8px;
    }
  }

  &-notice-content {
    padding: 10px;
    border-radius: $border-radius-base;
    box-shadow: $shadow-2;
    background: $component-background;
    display: inline-block;
    pointer-events: all;
  }

  &-success .material-icons {
    color: $success-color;
  }

  &-error .material-icons {
    color: $error-color;
  }

  &-warning .material-icons {
    color: $warning-color;
  }

  &-info .material-icons,
  &-loading .material-icons {
    color: $info-color;
  }

  .material-icons {
    margin-right: 8px;
    font-size: 18px;
    top: 3px;
    position: relative;
  }

  &-notice.move-up-leave.move-up-leave-active {
    animation-name: MessageMoveOut;
    overflow: hidden;
    animation-duration: 0.3s;
  }
}

@keyframes MessageMoveOut {
  0% {
    opacity: 1;
    max-height: 150px;
    padding: 8px;
  }
  100% {
    opacity: 0;
    max-height: 0;
    padding: 0;
  }
}
