<mat-nav-list class="main-nav-list">
  <a mat-list-item routerLink="/admin" *aclIf="{ ability: ['admin.default'] }">
    <mat-icon matListIcon>dashboard</mat-icon>
    Admin
  </a>
  <h3 matSubheader>Management</h3>
  <ng-template let-item let-last="last" ngFor [ngForOf]="mgmtmenu">
    <a mat-list-item>
      <mat-icon matListIcon>{{item.icon}}</mat-icon>
      {{item.title}}
    </a>
  </ng-template>
  <h3 matSubheader>Monitor</h3>
  <ng-template let-item let-last="last" ngFor [ngForOf]="monitormenu">
    <a mat-list-item>
      <mat-icon matListIcon>{{item.icon}}</mat-icon>
      {{item.title}}
    </a>
  </ng-template>
  <h3 matSubheader>Settings</h3>
  <ng-template let-item let-last="last" ngFor [ngForOf]="settingsmenu">
    <a mat-list-item>
      <mat-icon matListIcon>{{item.icon}}</mat-icon>
      {{item.title}}
    </a>
  </ng-template>
</mat-nav-list>
