<td-layout #layout>
  <td-navigation-drawer logo="assets:teradata-dark" sidenavTitle="SANDBOX">
    <app-menu></app-menu>
  </td-navigation-drawer>
  <td-layout-nav>
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <div td-toolbar-content layout="row" layout-align="center center" flex>
      <span [routerLink]="['/']" class="cursor-pointer text-upper">Sandbox</span>
      <span flex></span>
      <bl-theme-selector></bl-theme-selector>
      <app-auth-button></app-auth-button>
    </div>
    <router-outlet></router-outlet>
  </td-layout-nav>
</td-layout>
