// Custom style for loading elements without height
.will-load {
  min-height: 80px;
}

// Href line height wasn't right for mat-icon-button
a[mat-icon-button] {
  line-height: 36px;
}

.td-layout-manage-list-main .td-layout-manage-list-content {
  overflow-x: hidden !important;
}

.td-layout-manage-list-sidenav::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.td-layout-nav-content {
  overflow-x: hidden;
}

.td-layout-manage-list-sidenav::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .26);
}

.td-layout-manage-list-sidenav {
  overflow-x: hidden;
}

.user-nav-header .mat-icon-logo.mat-icon {
  width: 56px;
  height: 56px;
  padding-bottom: 10px;
}

.user-nav-header .td-navigation-drawer-title {
  font-weight: bold;
  padding-left: 12px;
}

.mat-tooltip {
  font-size: 14px !important;
}

.menu-list-item.mat-list-item {
  .mat-list-item-content {
    flex: 1 1 100%;
  }
}

.mat-nav-list.mat-list-base {
  padding-top: 0;
}

// Adjust your logo position
.mat-icon {
  &.mat-icon-logo {
    position: relative;
    top: -4px;
  }
}
// Hack for small search box
.small .td-search-box {
  .td-search-icon.mat-icon-button {
    margin: 0;
    height: 30px;
    .mat-icon {
      margin-top: -10px;
    }
  }
  td-search-input {
    margin-left: 0 !important;
    margin-bottom: 4px;
    .mat-form-field {
      width: auto;
    }
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
    .mat-input-infix {
      padding: 0;
    }
    .mat-form-field-infix {
      border-top: 0;
    }
  }
}

.td-search-input-field {
  .mat-form-field-wrapper {
    .mat-form-field-flex {
      .mat-form-field-label {
        padding-top: 4px;
      }
    }
  }
}

.td-navigation-drawer-toolbar-content {
  .mat-icon {
    padding-left: 4px;
  }
}

.td-message {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #ffffff !important;
  z-index: 999 !important;
}

.layout-centered  {
  height: calc(100vh - 168px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
  visibility: hidden;
  transition: visibility 0.3s linear,opacity 0.3s linear;
}

.visible {
  display: block;
  visibility: visible;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

@import "assets/covalent-icons/covalent-icons";
@import "./app/shared/bl-components/bl-components";
