<mat-card style="max-width: 500px;">
  <mat-card-content>
    <!-- Start pattern -->
    <div *tdLoading="'isLoading'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
      <div layout="column" layout-align="center center" class="tc-grey-500 mat-typography pad-lg">
        <img [src]="'assets/images/logo.svg'" style="max-width: 200px;">
        <!-- <mat-icon matListAvatar class="text-super push-bottom">perm_identity</mat-icon> -->
        <h2 *ngIf="!activationError" style="text-transform: uppercase;">Activando cuenta...</h2>
        <form class="example-form" *ngIf="activationError">
          <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder" [formControl]="emailFormControl">
            <mat-icon matSuffix>email</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
          <button [disabled]="" mat-button>Resend activation code!</button>
        </form>
      </div>
      <!-- end pattern -->
    </div>
  </mat-card-content>
</mat-card>
